/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ======================================
  Main Body
  ======================================
*/

body {
  background: #001f3f;
}

h1, h3, h4, h5, p, ul, .btn, small {
  font-family: 'Poiret One', cursive;
}

/*
  ======================================
  Primary Header
  ======================================
*/


.primary-header h1 {
  font-size: 56px;
  color: white;
  line-height: 44px;
}

.main-title{
  float: left;
  margin-top: 15px;
}

.pricing {
  text-align: center;
  line-height: 44px;
}

.pricing h3 {
  font-size: 24px;
  color: white;
}

/*
  ======================================
  Navigation
  ======================================
*/

.primary-nav {
  text-align: right;
  margin-bottom: 50px;
  font-size: 18px;
  color: white;
  padding: 5px;
}

.primary-nav {
  font-size: 20px;
}

.primary-nav a {
  text-decoration: none;
  color: white;
}

/*
  ======================================
  Grid
  ======================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container, .grid {
  margin: 0 auto;
  width: 960px;
}

.col-1-5 {
  display: inline-block;
  line-height: 24px;
  margin: 100px 0;
  width: 20%;
}

/*
  ======================================
  Row
  ======================================
*/

.row {
  min-width: 960px;
  background: #fff;
  padding: 25px 0;
  text-align: center;
}

.row h1 {
  font-size: 36px;
}

.row h3 {
  font-size: 20px;
  line-height: 48px;
}

.negative {
  letter-spacing: 2px;
  color: red;
}

.positive {
  letter-spacing: 2px;
  color: green;
}

/*
  ======================================
  Button
  ======================================
*/

button {
  background: #7FDBFF;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin: 15px 0;
}

.btn:hover {
  background: #09B29D;
  color: white;
}

/*
  ======================================
  Footer
  ======================================
*/

.footer {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

/*
  ======================================
  CSS Media Queries
  ======================================
*/

@media (max-width: 960px){
  .main-title {
    float: none;
    text-align: center;
  }

  .primary-nav {
    text-align: center;
    padding-top: 30px;
  }

  .col-1-5 {
    width: 33.33%;
    margin: 5px 0;
  }

  .footer {
    position: relative;
    line-height: 44px;
  }
}

@media (max-width: 900px){
  .col-1-5{
    margin: 15px 0;
  }
}

@media (max-width: 830px){
  .main-title {
    float: left;
    clear: both;
    text-align: center;
  }

  .primary-nav {
    text-align: center;
    float: left;
    clear: both;
  }

  .pricing {
    clear: both;
  }

  .col-1-5{
    width: 100%;
  }

}


/* Mobile Specific Queries Below */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .main-title {
      float: none;
      text-align: center;
    }

    .primary-nav {
      text-align: center;
      padding-top: 30px;
    }

    .col-1-5 {
      width: 100%;
    }

    .footer {
      position: relative;
      line-height: 44px;
    }
}

@media only screen
  and (min-device-width: 412px)
  and (max-device-width: 732px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-title {
      float: none;
      text-align: center;
    }

    .primary-nav {
      text-align: center;
      padding-top: 30px;
    }

    .col-1-5 {
      width: 100%;
    }

    .footer {
      position: relative;
      line-height: 44px;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-title {
      float: none;
      text-align: center;
    }

    .primary-nav {
      text-align: center;
      padding-top: 30px;
    }

    .col-1-5 {
      width: 100%;
    }

    .footer {
      position: relative;
      line-height: 44px;
    }
}
